// TODO: eslint 配置
{
  "env": {
      "browser": true,
      "es6": true,
      "worker": true,
      "mocha": true,
      "node": true
  },
  "globals": {
      "React": "readonly",
      "MtaH5": "readonly",
      "TencentGDT": "readonly",
      "ReactDOM": "readonly",
      "props": "readonly",
      "module": "readonly",
      "exports": "readonly",
      "require": "readonly",
      "window": "readonly",
      "process": "readonly",
      "jsRoutes": "readonly",
      "__dirname": "readonly",
      "__locals": "readonly",
      "_": "readonly",
      "$": "readonly",
      "jQuery": "readonly",
      "jquery": "readonly"
  },
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 6,
      "ecmaFeatures": {
          "jsx": true,
          "impliedStrict": true,
          "experimentalObjectRestSpread": true
      },
      "env": { 
          "es6": true 
      }
  },
  "rules": {
      "strict": 2,

      "arrow-body-style": ["error", "always"],
      "generator-star-spacing": ["error", {"before": true, "after": false}],
      "quote-props": ["error", "always"],

      "no-compare-neg-zero": "error",
      "no-cond-assign": "error",
      "no-constant-condition": "error",
      "no-control-regex": "error",
      "no-debugger": "error",
      "no-dupe-args": "error",
      "no-dupe-keys": "error",
      "no-duplicate-case": "error",
      "no-empty": "error",
      "no-empty-character-class": "error",
      "no-ex-assign": "error",
      "no-extra-boolean-cast": "error",
      "no-extra-parens": "error",
      "no-func-assign": "error",
      "no-inner-declarations": "error",
      "no-invalid-regexp": "error",
      "no-irregular-whitespace": "error",
      "no-obj-calls": "error",
      "no-prototype-builtins": "error",
      "no-regex-spaces": "error",
      "no-sparse-arrays": "error",
      "no-template-curly-in-string": "error",
      "no-unexpected-multiline": "error",
      "no-unreachable": "error",
      "no-unsafe-finally": "error",
      "no-unsafe-negation": "error",
      "valid-typeof": "error",
      "use-isnan": "error",

      "semi": ["error", "never"],
      "no-extra-semi": "error",

      "jsx-quotes": ["error", "prefer-single"],

      "no-delete-var": "error",
      "init-declarations": "error",
      "block-scoped-var": "error",
      "complexity": ["error", 20],
      "curly": "error",
      "default-case": "error",
      "eqeqeq": "error",
      "no-alert": "error",
      "no-caller": "error",
      "no-else-return": "error",
      "no-empty-pattern": "error",
      "no-eq-null": "error",
      "no-eval": "error",
      "no-extend-native": "error",
      "no-extra-label": 1,
      "no-fallthrough": "error",
      "no-floating-decimal": "error",
      "no-global-assign": "error",
      "no-implicit-coercion": 1,
      "no-invalid-this": "error",
      "no-implied-eval": "error",
      "no-iterator": "error",
      "no-labels": "error",
      "no-multi-spaces": 1,
      "no-multi-str": 1,
      "no-new-func": "error",
      "no-new-wrappers": "error",
      "no-proto": "error",
      "no-redeclare": "error",
      "no-return-assign": "error",
      "no-self-assign": "error",
      "no-unused-labels": "error",
      "no-useless-escape": "error",
      "no-useless-return": "error",
      "no-undef": "error",

      "no-mixed-spaces-and-tabs": "error",
      "array-bracket-spacing": 1,
      "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
      "comma-dangle": ["error", "never"],
      "comma-style": ["error", "last"],
      "comma-spacing": ["error", { "before": false, "after": true }],
      "implicit-arrow-linebreak": 1,
      "lines-around-comment": 0,
      "lines-between-class-members": ["error", "always"],
      "multiline-comment-style": ["error", "starred-block"],
      "no-lonely-if": "error",

      "arrow-parens": "error",
      "arrow-spacing": "error",
      "no-class-assign": "error",
      "no-const-assign": "error",
      "no-dupe-class-members": "error",
      "no-new-symbol": "error",
      "no-this-before-super": "error",
      "no-useless-rename": "error"
  }
}
